html {
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  /* max-width: auto; */
  min-height: 100%;
  background: linear-gradient(150deg, #eaefe4 0%, #b9c9f1 80%) no-repeat;
  background: -moz-linear-gradient(150deg, #eaefe4 0%, #b9c9f1 80%) no-repeat;
  background: -webkit-linear-gradient(150deg, #eaefe4 0%, #b9c9f1 80%) no-repeat;
  background: -o-linear-gradient(150deg, #eaefe4 0%, #b9c9f1 80%) no-repeat;
  background: linear-gradient(150deg, #eaefe4 0%, #b9c9f1 80%) no-repeat;
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.body-container {
  max-height: 100vh;
  padding: 5% 3%;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: 900px;
  min-width: 400px;
  border-radius: 0.5rem;
}

.col-8 {
  padding-right: 0px;
}

#city-input {
  background-color: #f8f8ff;
  padding: 0.375rem 0.5rem;
}

#current-location {
  font-size: 1rem;
  border: 0.5px lightgrey solid;
  display: block;
  margin: 0 auto;
  outline: none;
  text-align: center;
}

.button {
  color: #bcf1ed;
  background-color: #f8f8ff;
}

.button:hover {
  color: #f8f8ff;
  background-color: #bcf1ed;
}

#submit {
  margin-left: 20px;
}

.unit-container {
  display: inline-block;
  white-space: nowrap;
  padding-top: 3px;
  padding-left: 2px;
  width: 100%;
  text-align: center;
}

.unit {
  color: black;
  font-size: 18px;
}

.unit:hover {
  color: #f8f8ff;
  text-decoration: none;
  font-weight: 700;
}

.selected {
  font-weight: 700;
}

.selected:hover {
  color: #000;
  cursor: default;
}

.hide {
  display: none;
}

h1,
h2 {
  text-align: center;
}

.feature {
  text-align: center;
  font-size: 20px;
}

.feature-desc {
  font-weight: 500;
  font-style: italic;
}
.date-display {
  margin: 0;
}

.icon-wrapper {
  font-size: 9rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.fa-sun {
  color: rgba(241, 223, 62);
  /* text-shadow: 5px 5px 10px rgba(240, 255, 255, 0.4); */
}

.fa-cloud {
  color: rgb(202, 214, 216);
}

.fa-cloud-sun {
  /* color: rgb(245, 239, 156); */
  /* color: #b8eff2; */
  color: rgb(241, 223, 62);
}

.fa-poo-storm {
  color: rgb(112, 125, 145);
}

.fa-cloud-rain {
  color: rgb(190, 231, 236);
}

.fa-cloud-showers-heavy {
  color: #615d6f;
}

.fa-snowflake {
  color: rgb(183, 226, 240);
}
.fa-smog {
  color: rgba(186, 208, 218, 0.671);
}

.week {
  /* padding-top: 40px; */
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

#forecastTitle {
  display: block;
  margin: 0 auto;
}

#day {
  padding: 2px 0;
}

.dayName {
  text-transform: uppercase;
}

#dayIcon {
  font-size: 2rem;
}

.card {
  flex-direction: inherit !important;
  background-color: #f8f8ff;
  min-width: 115px;
  max-width: 80%;
}

.card-body {
  margin-bottom: -3px;
}

.card-body:after {
  display: block;
  content: "";
  width: 0%;
  border-bottom: 3px solid #000;
  transition: all 250ms ease-in-out;
}

.card-body:hover:after {
  width: 100%;
}

.card-text {
  font-size: 17px;
  padding: 0;
}

.week-temp {
  margin: 2px 0px 10px 0px;
}

.warm-bgd {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#github {
  color: black;
  font-size: 0.8rem;
  /* margin-top: 50px; */
  margin-bottom: 0;
  display: block;
  text-align: center;
}

a {
  color: #4078c0;
}

a:hover {
  color: #e85c6a;
  text-decoration: none;
}
